$main-content--width: 700px;
$main-user-image-height: 190px;
$main-list--height: 74px;
$side-bar--height: 80px;
$tab-display-empty-color: rgba(227, 227, 227, 0.9);
$text-black: rgba(70,70,70,1.0);
$text-black-hover: rgba(120,120,120,1.0);
$mypage-tab-color: rgba(191, 191, 191, 0.995);
$mypage-tab-shadow: rgba(157, 157, 157, 0.99);
$mypage-tab-hover-color: rgb(218, 218, 218);
$sky-blue: rgba(136,201,255,1.0);
$sky-blue-btn-bottom: rgb(116, 179, 205);
$sky-blue-btn-text: rgba(250,250,250,0.9);
$camera-icon-color: rgba(235,235,235,1.0);
$mypage-tab-active:rgb(250, 250, 250);
$transaction-icon-red: rgba(255, 82, 82, 0.9);
$account-delete-btn:rgb(255,54,54);
$account-delete-btn-shadow:rgb(176, 26, 26);
$logout-btn:rgb(195, 211, 216);
$logout-btn-shadow:rgb(141, 161, 165);
$main-list-color:rgba(255, 255, 255, 0.999);
//背景カラーの設定
body,html{
  background-color: rgba(245,245,245,1);
}
$font_color_white: white;
$font_color_black: black;
$font_color_oceanblue:#3CCACE;
$background-color_section:#eeeeee;

$btn-back-main-color: rgba(135, 135, 135, 0.8);
$btn-back-main-color-bottom: rgba(57, 57, 57, 0.8);
$btn-back-text-color: rgba(237, 237, 237, 0.872);
