.sidebar
  %nav.sidebar__mypage-nav
    %ul.nav-list
      %li
        =link_to user_path(@user.id) , class: "nav-list__item" do
          マイページ
          %i.fas.fa-chevron-right.nav-icon
      %li
        =link_to likes_user_path(@user.id) , class: "nav-list__item" do
          お気に入り一覧
          %i.fas.fa-chevron-right.nav-icon
      %li
        =link_to new_item_path , class: "nav-list__item" do
          出品する
          %i.fas.fa-chevron-right.nav-icon
      %li
        =link_to "#" ,class: "nav-list__item" do
          出品した商品-出品中
          %i.fas.fa-chevron-right.nav-icon
      %li
        =link_to "#" ,class: "nav-list__item" do
          出品した商品-過去の取引
          %i.fas.fa-chevron-right.nav-icon
      %li
        =link_to "#" ,class: "nav-list__item" do
          評価
          %i.fas.fa-chevron-right.nav-icon
    %h3.nav-list__head
      設定
    %ul.nav-list
      %li
        =link_to edit_user_path, class: "nav-list__item" do
          プロフィール
          %i.fas.fa-chevron-right.nav-icon
      %li
        =link_to address_user_path(@user.id), class: "nav-list__item" do
          発送元・お届け先情報
          %i.fas.fa-chevron-right.nav-icon
      %li
        =link_to user_credit_cards_path(@user.id), class: "nav-list__item" do
          支払方法
          %i.fas.fa-chevron-right.nav-icon
      %li
        =link_to edit_user_registration_path, class: "nav-list__item" do
          メール/パスワード
          %i.fas.fa-chevron-right.nav-icon
      %li
        =link_to support_user_path ,class: "nav-list__item" do
          お問い合わせ
          %i.fas.fa-chevron-right.nav-icon
      %li
        =link_to logout_user_path,class: "nav-list__item" do
          ログアウト
          %i.fas.fa-chevron-right.nav-icon
