.main-content
  %section.main-content__user
    =link_to "#", class: ".main-content__user" do
      =image_tag "img01.jpg", class: "user-image"
      %h2.main-content__user__name
        葵
      .main-content__user__number
        .main-content__user__number__evaluation
          評価数  
          %span 34
        .main-content__user__number__up
          出品数
          %span 55
  %section.main-content__mypage-tab__container
    %h2.mypage-tab__head
      購入した商品
    %ul.mypage-tab
      %li.tab-active
        =link_to "取引中" ,"#" , class: "mypage-tab__list" ,id:"mypage-tab__list-new"
      %li
        =link_to "過去の取引","#", class: "mypage-tab__list" ,id:"mypage-tab__list-old"
          
    .tab__content
      %ul#tab__content-new.tab__content
        %li.tab__content__list
          =link_to "url", class: "tab__content__list-box" do
            =image_tag "sample_item_list_img01.jpg", alt: "",id: "",class: "list-image"
            .list-text
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              .list-text-icon
                取引中
            %i.fas.fa-chevron-right.nav-icon
        %li.tab__content__list
          =link_to "url", class: "tab__content__list-box" do
            =image_tag "sample_item_list_img01.jpg", alt: "",id: "",class: "list-image"
            .list-text
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              .list-text-icon
                取引中
            %i.fas.fa-chevron-right.nav-icon
        %li.tab__content__list
          =link_to "url", class: "tab__content__list-box" do
            =image_tag "sample_item_list_img01.jpg", alt: "",id: "",class: "list-image"
            .list-text
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              .list-text-icon
                取引中
            %i.fas.fa-chevron-right.nav-icon
        %li.tab__content__list
          =link_to "url", class: "tab__content__list-box" do
            =image_tag "sample_item_list_img01.jpg", alt: "",id: "",class: "list-image"
            .list-text
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              .list-text-icon
                取引中
            %i.fas.fa-chevron-right.nav-icon
        %li.tab__content__list
          =link_to "url", class: "tab__content__list-box" do
            =image_tag "sample_item_list_img01.jpg", alt: "",id: "",class: "list-image"
            .list-text
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              .list-text-icon
                取引中
            %i.fas.fa-chevron-right.nav-icon
        %li.tab__content__list
          .tab__content__list__index
            =link_to "一覧を見る", "path", class: "tab__content__list__index-btn"
        / 以下はタブ機能実装時にdisplay:noneで隠す
      
      %ul#tab__content-old.tab__content.display--none
        %li.tab__content__list
          =link_to "url", class: "tab__content__list-box" do
            =image_tag "sample_item_list_img02.jpg", alt: "",id: "",class: "list-image"
            .list-text
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              .list-text-icon.transaction-end
                取引終了
            %i.fas.fa-chevron-right.nav-icon
        %li.tab__content__list
          =link_to "url", class: "tab__content__list-box" do
            =image_tag "sample_item_list_img02.jpg", alt: "",id: "",class: "list-image"
            .list-text
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              .list-text-icon.transaction-end
                取引終了
            %i.fas.fa-chevron-right.nav-icon
        %li.tab__content__list
          =link_to "url", class: "tab__content__list-box" do
            =image_tag "sample_item_list_img02.jpg", alt: "",id: "",class: "list-image"
            .list-text
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              .list-text-icon.transaction-end
                取引終了
            %i.fas.fa-chevron-right.nav-icon
        %li.tab__content__list
          =link_to "url", class: "tab__content__list-box" do
            =image_tag "sample_item_list_img02.jpg", alt: "",id: "",class: "list-image"
            .list-text
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              .list-text-icon.transaction-end
                取引終了
            %i.fas.fa-chevron-right.nav-icon
        %li.tab__content__list
          =link_to "url", class: "tab__content__list-box" do
            =image_tag "sample_item_list_img02.jpg", alt: "",id: "",class: "list-image"
            .list-text
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              .list-text-icon.transaction-end
                取引終了
            %i.fas.fa-chevron-right.nav-icon
        %li.tab__content__list
          .tab__content__list__index
            =link_to "一覧を見る", "path", class: "tab__content__list__index-btn"