.main-content
  = render "show_user_info"
  
  %section.main-content__mypage-tab__container
    %h2.mypage-tab__head
      出品した商品
    %ul.mypage-tab
      %li.tab-active-three
        =link_to "出品中" ,"#" , class: "mypage-tab__list three-tabs-list" ,id:"mypage-tab__list-new"
      %li
        =link_to "取引中","#" , class: "mypage-tab__list three-tabs-list" ,id:"mypage-tab__list-transaction"
      %li
        =link_to "過去の取引","#" , class: "mypage-tab__list three-tabs-list" ,id:"mypage-tab__list-old"
    = render "show_mypage_sell_tab"

  %section.main-content__mypage-tab__container
    %h2.mypage-tab__head
      購入した商品
    %ul.mypage-tab
      %li.tab-active
        =link_to "取引中" ,"#" , class: "mypage-tab__list" ,id:"mypage-tab__list-new"
      %li
        =link_to "過去の取引","#" , class: "mypage-tab__list" ,id:"mypage-tab__list-old"
    = render "show_mypage_buy_tab"
