//問合せの機能要望
= render "items/header"
.mypage
  .container
    %main.main-container
      = render partial: "show_sidebar", locals: {}
      .main
        .request_enquiry_contact
          %p.request_enquiry_contact__title 機能要望
          .request_enquiry_contact__content
            .request_enquiry_contact__content--box
              .description
                .description__box
                  %h1.title お問い合わせの内容
                  %p.required 必須
                %input.description__content{type: "text", placeholder: "例:トラクターのカテゴリーを作って欲しい"}
              %p.cautions ＊事務局ではすべての機能要望を参考にさせていただき随時、機能改善してまいります。特に返答はいたしませんが、ご了承ください。
              .form
                = link_to root_path do
                  %input.submit.btn{type: "submit", value: "送信する"}
= render "items/footer"