.container
  %main.main-container
    .sidebar
      %nav.sidebar__mypage-nav
        %ul.nav-list
          %li
            =link_to "#" , class: "nav-list__item" do
              マイページ
              %i.fas.fa-chevron-right.nav-icon
          %li
            =link_to "#" , class: "nav-list__item" do
              いいね一覧
              %i.fas.fa-chevron-right.nav-icon
          %li
            =link_to "#" , class: "nav-list__item" do
              出品する
              %i.fas.fa-chevron-right.nav-icon
          %li
            =link_to "#" ,class: "nav-list__item" do
              出品した商品-出品中
              %i.fas.fa-chevron-right.nav-icon
          %li
            =link_to "#" ,class: "nav-list__item" do
              出品した商品-過去の取引
              %i.fas.fa-chevron-right.nav-icon
          %li
            =link_to "#" ,class: "nav-list__item" do
              評価
              %i.fas.fa-chevron-right.nav-icon
        %h3.nav-list__head
          設定
        %ul.nav-list
          %li
            =link_to "#", class: "nav-list__item" do
              プロフィール
              %i.fas.fa-chevron-right.nav-icon
          %li
            =link_to "#", class: "nav-list__item" do
              発送元・お届け先情報
              %i.fas.fa-chevron-right.nav-icon
          %li
            =link_to "#", class: "nav-list__item" do
              支払方法
              %i.fas.fa-chevron-right.nav-icon
          %li
            =link_to "#", class: "nav-list__item" do
              メール/パスワード
              %i.fas.fa-chevron-right.nav-icon
          %li
            =link_to "#" ,class: "nav-list__item" do
              本人情報
              %i.fas.fa-chevron-right.nav-icon
          %li
            =link_to "#" ,class: "nav-list__item" do
              ログアウト
              %i.fas.fa-chevron-right.nav-icon

    .main-content
      %section.main-content__user
        =link_to "#", class: ".main-content__user" do
          %figure
            =image_tag "", size: "60x60", class: "user-image"
          %h2.main-content__user__name
            葵
          .main-content__user__number
            .main-content__user__number__evaluation
              評価数  45
            .main-content__user__number__up
              出品数  34
      %section.main-content__notification-todo
        
      %section.main-content__mypage-tab__container
        %h2.mypage-tab__head
          購入した商品
        %ul.mypage-tab
          %li
            %h3.mypage-tab__list
            =link_to "取引中" ,"#" , class: "mypage-tab__list__transaction--now"
          %li
            %h3.mypage-tab__list
            =link_to "過去の取引","#", class: "mypage-tab__list__transaction--old"
        
        .mypage-tab__content
          %ul#mypage-tab__content__transaction--now.mypage-tab__content__transaction
            %li 
              =link_to "none","#"

          %ul#mypage-tab__content__transaction--old.mypage-tab__content__transaction
            %li
              =link_to "none","#"
            
  =link_to "#", class: "footer__sell-btn-icon" do
    出品
    %i.fas.fa-camera-retro.footer__sell-btn-icon__camera
          

  -# --------ここから発送元・お届け先住所変更--------

  .register-address
  .register-address__header
    %span.top 発送元・お届け先住所変更
  .register-address__contents
    .register-address__contents__name
      .register-address__contents__name__require
        %div.title お名前 
        %div.require 必須
      .register-address__contents__form
        %input.input-text{:name => "name", :placeholder => "例)田中", :value => "", :type => "text"}/
      .register-address__contents__form
        %input.input-text{:name => "name", :placeholder => "例)彩", :value => ""}/
    .register-address__contents__name
      .register-address__contents__name__require
        %div.title お名前カナ
        %div.require 必須
      .register-address__contents__form
        %input.input-text{:name => "name", :placeholder => "例)タナカ", :value => ""}/
      .register-address__contents__form
        %input.input-text{:name => "name", :placeholder => "例)アヤ", :value => ""}/
    .register-address__contents__name
      .register-address__contents__name__require
        %div.title 郵便番号
        %div.require 必須
      .register-address__contents__form
        %input.input-text{:name => "address-number", :placeholder => "例)123-4567", :value => ""}/
    .register-address__contents__name
      .register-address__contents__name__require
        %div.title 都道府県
        %div.require 必須
      .register-address__contents__form
      =form_with do |f|
        =f.select :prefecture, ['北海道','青森県','岩手県','宮城県','秋田県','山形県','福島県','茨城県','栃木県','群馬県','埼玉県','千葉県','東京都','神奈川県','新潟県','富山県','石川県','福井県','山梨県','長野県','岐阜県','静岡県','愛知県','三重県','滋賀県','京都府','大阪府','兵庫県','奈良県','和歌山県','鳥取県','島根県','岡山県','広島県','山口県','徳島県','香川県','愛媛県','高知県','福岡県','佐賀県','長崎県','熊本県','大分県','宮崎県','鹿児島県','沖縄県'], include_blank: '選択してください', class: "listing-select"
    .register-address__contents__name
      .register-address__contents__name__require
        %div.title 市区町村
        %div.require 必須
      .register-address__contents__form
        %input.input-text{:name => "street-address", :placeholder => "例)横浜市緑区", :value => ""}/
    .register-address__contents__name
      .register-address__contents__name__require
        %div.title 番地
        %div.require 必須
      .register-address__contents__form
        %input.input-text{:name => "address", :placeholder => "例)青山1-1-1", :value => ""}/
    .register-address__contents__name
      .register-address__contents__name__require
        %div.title 建物名
        %div.optional 任意
      .register-address__contents__form
        %input.input-text{:name => "building", :placeholder => "例)柳ビル103", :value => ""}/
    .register-address__contents__name
      .register-address__contents__name__require
        %div.title 電話
        %div.optional 任意
      .register-address__contents__form
        %input.input-text{:name => "phonenumber", :placeholder => "例)09012345678", :value => ""}/
    .register-address__contents__button 
    = link_to '#', class:"confirm-btn" do
      %input.submit{:name => "confirm", :type => "submit", :value => "変更する"}/
