select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 100px;
  color: rgba(69, 69, 69,0.9);
  border: none;
  border-bottom: 2px solid rgba(152, 152, 152, 0.8);
  border-radius: 5px;
  background-color: white;
  &:focus{
    box-shadow: 0 0 7px 0 rgba(255,153,0,1);
    border: none !important;
    outline: 0;
  }
  }
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"]{
  resize: none;
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid rgba(152, 152, 152, 0.8);
  box-sizing: border-box;
  &:focus{
    box-shadow: 0 0 7px 0 rgba(255,153,0,1);
    border: none !important;
    outline: 0;
  }
}
textarea{
  resize: none;
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid rgba(152, 152, 152, 0.8);
  box-sizing: border-box;
  &:focus{
    box-shadow: 0 0 7px 0 rgba(255,153,0,1);
    border: none !important;
    outline: 0;
  }
}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="number"] { 
  -moz-appearance:textfield; 
} 

.btn-back{
  background-color: $btn-back-main-color !important;
  border-bottom: 4px solid $btn-back-main-color-bottom;
  color: $btn-back-text-color;
  text-decoration: none;
  text-align: center;
  &:active{
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
}

.btn{
  background-color: $sky-blue !important;
  border-bottom: 4px solid $sky-blue-btn-bottom;
  color: $sky-blue-btn-text;
  text-decoration: none;
  text-align: center;
  &:active{
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
}