.credit_card{
  width: $main-content--width;
  margin: 0 60px;
  background-color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  .credit-card__box{
    width: 90%;
    height: 90%;
    background-color: rgba(207, 227, 244, 0.5);
    display: block;
    h1{
      font-size: 16px;
    }
    .form_require{
      background-color: red;
      color:white;
      padding:5px;
      border-radius: 5px;
    }
    &__title{
      margin: 40px 0;
      text-align: center;
    }
    &__inner{
      margin: 40px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .card-notification{
        text-align: center;
      }
      .card-icons{
        margin: 0px 10px 40px;
        .card{
          margin: 7px;
          width: 50px;
        }
        .visa{
          width: 70px;
        }
        .discover{
          width: 60px;
        }
      }
      &__number{
        width:100%;
        font-size: 14px;
        margin: 20px 10px 0;
      }
      &__input-expire{
        width: 100%;
        display: flex;
        font-size: 14px;
      }
      .cards-expire{
        display: flex;
        justify-content: space-evenly;
        &__head{

          margin: 40px 10px 10px;
          .label{
          }
        }
        &__month{
          display: flex;
          justify-content: space-between;;
          margin-bottom: 20px;
        }
        &__year{
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
        }
        &__security{
          margin: 10px 10px 0;
        }
      }
      &__input-number{
        margin-top: 20px;
        width:100%;
        font-size: 14px;
      }

      .content-bottom--add-btn{
        margin: 30px 0 20px;
        width:100%;
        font-size: 20px;
        padding:10px;
        background-color: #3CCACE;
        color: white;
        cursor: pointer;
      }
    }
  }
}