// 仮置き
.sidebar{
  width: 280px;
  height:100vh;
  background-color: orangered;
}

.credit-card-contents{
  display: flex;
  background-color: #f8f8f8;
  justify-content: space-between;
  .credit-card__box{
    width:70%;
    background-color: white;
    margin:80px auto;
    font-size: 22px;
    h1{
      font-size: 32px;
    }
    .form_require{
      background-color: red;
      color:white;
      padding:3px;
    }
    &__title{
      text-align: center;
    }
    &__inner{
      margin-left:15%;
      margin-top: 30px;
      &__number{
        width:30%;
        font-size: 20px;
        padding:10px;
        margin-bottom:30px;
        margin-top:10px;
      }
      &__input-expire{
        font-size: 20px;
        margin-top: 10px;
      }

      .cards-expire__year{
        margin-bottom: 20px;
      }
      &__input-number{
        margin-top: 20px;
        width:30%;
        padding:10px;
        font-size: 18px;
      }

      .content-bottom--add-btn{
        margin: 30px 0 20px;
        width:15%;
        font-size: 20px;
        padding:10px;
        background-color: #3CCACE;
        color: white;
        cursor: pointer;
      }
    }
  }


}