.buy_verification{
  margin:100px 0px;
  width: 100vw;
  background-color: #f5f5f5;
  text-align: center;
  &__box{
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
    &--title{
    border-top: 1px solid #f5f5f5;
    }
    h1{
      padding:10px 0;
      font-size: 30px;
      font-weight: bold;
      font-size: larger;
    }
    &--content{
      border-top: 1px solid #f5f5f5;
      .image {
        margin-top: 1rem;
        .image_verification{
          width: 100px;
          height: 100px;
        }
      }
      .content {
        margin-top: 1rem;
      }
    } 
    &--price{
      border-top: 1px solid #f5f5f5;
      margin-top: 1rem;
      .title{
      margin-top: 1rem;
      }
      .price{
        display: flex;
        justify-content: center;
        .detail{
          margin-right: 1rem;
        }
      }
    }  
    &--payment_method{
      border-top: 1px solid #f5f5f5;
      margin-top: 1rem;
      .title {
        margin-top: 1rem;
      }
    }
    &--shipping_address{
      border-top: 1px solid #f5f5f5;
      margin-top: 1rem;
      .title{
        margin-top: 1rem;
      }
    }
    .form{
      border-top: 1px solid #f5f5f5;
      padding: 32px;
      margin-top: 1rem;
      .submit{
        width: 100%;
        height: 50px;
        background-color: red;
        color: white;
        border-radius: 5px;
      }
    }
  }
}