// 田中さん用
.sidebar{
  width: 280px;
  height:100vh;
  background-color: orangered;
}

.contents{
  display: flex;
    background-color: #f8f8f8;
    justify-content: space-between;
    
  }
  .like-box{
    width:70%;
    background-color: white;
    margin:80px;
    position: relative;
    &__list{
      
      text-align: center;
      font-size:24px;
      padding:20px 0;

    }
    &__item{
    border-top: solid 1px #f8f8f8;
    border-bottom:solid 1px #f8f8f8;
    width:100%;
    height:100px;
    margin:0 auto;
    position: relative;
    padding: 10px;
    a{
      position: absolute;
      top: 0;
      left:0;
      height:100%;
      width:100%;
      cursor: pointer;
    }
    img{
      width:10%;
      height:90%;
      margin-left:10px;
      margin-top:5px;
    }
    
    &__name{
      position: absolute;
      top:5px;
      left:13%;
    }

    &__price{
      position: absolute;
      left:13%;
      bottom:5px;
    }

    &__btn{
      position: absolute;
      right:5px;
      top:30px;
      font-size: 30px;
    }

  }