.listing-contents{
  height: 1650px;
  width: 100%;
  background-color: rgb(245, 245, 245);
  padding: 50px 0 50px 0;
  .listing {
    width: 700px;
    margin: 0 auto;
    height: 100%;
    background-color: white;
    &__box {
      height: 100%;
      width: 90%;
      margin: 0 auto;
      .listing-form{
        width: 100%;
        border-radius: 5px;
        height: 30px;
        border: 1px solid;
        font-size: 15px;
      }
      select {
        height: 30px;
        width: 100%;
        font-size: 15px;
      }
      .listing-child {
        margin-top: 20px;
      }
      .listing-grandchild {
        margin-top: 20px;
      }
      .listing-price {
        font-size: 15px;
        margin-top: 15px;
        width: 100%;
        border-radius: 5px;
        height: 25px;
        border: 1px solid;
      }
      .item-text {
        width: 100%;
        height: 200px;
        border-radius: 5px;
        font-size: 15px;
      }
      .listing-attention {
        color: gray;
        font-size: small;
        margin: 0;
      }
      .exhibit-image-box {
        .secret-image {
          display: none;
        }
        .exhibit-image{
          border: dashed 3px;
          height: 150px;
          width: 100%;
          background-color: gainsboro;
          border-radius: 5px;
          line-height: 150px;
          text-align: center;
        }
      }
      &--title {
        display: flex;
        .equired {
          background-color: red;
          border-radius: 5px;
          margin-left: 5px;
          color: white;
        }
        .arbitrary {
          border: 1px solid;
          border-radius: 5px;
          margin-left: 5px;
        }
      }
      &--fee {
        display: flex;
        justify-content: space-between;
      }
      &--price {
        display: flex;
      }
      &--btns {
        width: 100%;
        text-align: center;
        .btn{
          width: 100%;
          margin-top: 50px;
          padding: 10px 0;
          background-color: red;
          color: white;
          border-radius: 5px;
          font-size: large;
          font-weight: bold;
        }
        .btn-back{
          width: 100%;
          margin-top: 50px;
          padding: 10px 0;
          display: block;
          border: 1px solid;
          color: gray;
          text-decoration: none;
          background-color: white;
          border-radius: 5px;
          font-size: large;
          font-weight: bold;
        }
      }
    }
  }
}
