.main-content{
  &__head{
    box-sizing: border-box;
    padding: 10px;
    width: inherit;
    height: 50px;
    text-align: center;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
  }
  &__blank{
    display: block;
    width: $main-content--width;
    height: calc(190px);
  }

  &__user{
    width: $main-content--width;
    height: $main-user-image-height;
    position: relative;
    padding: 0!important;
    margin: 0;
    &__bg-image{
      position: relative;
      .bg-image{
        padding: 0;
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        bottom: calc($main-user-image-height / 2);
        right: 0;
        margin: auto;
        display: block;
        width: $main-content--width;
        height: $main-user-image-height;
        object-fit: cover;
        opacity: 0.5;
      }
    }
    &__icon{
      position: relative;
      .user-image{
        padding: 0;
        position: absolute;
        left: 0;
        top: 100px;
        bottom: 0;
        right: 0;
        margin: auto;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        &:hover{
          
        }
      }
    }
    &__name{
      position: absolute;
      left: 0;
      top: 100px;
      bottom: calc($main-user-image-height / 2);
      right: 0;
      margin: auto;
      width: 200px;
      .user-name{
        text-align: center;
      }
    }
    &__text{
      .profile__text{
        height: 300px;
        overflow-y: scroll;
      }
      
    }
  }
  .form{
    .submit-btn{
      margin-top: 20px;
      display: block;
      height:40px;
      width: 700px;
    }
    .btn-back{
      margin-top: 20px;
      display: block;
      height:40px;
      width: 700px;
      line-height: 40px;
    }
  }
}
.opacity{
  opacity:0;
}
