.buy_verification
  .buy_verification__box
    %h1.verification__box--title 購入内容の確認
    .buy_verification__box--content
      .image 
        = image_tag("http://illustrain.com/img/work/2016/illustrain02-norimono17.png",class: "image_verification")
      .content
        .content__name ダンプカー
        .content__price 1,700,000 (税込) 着払い
    .buy_verification__box--price
      %p.title 支払い金額
      %p.detail 1,700,000
    .buy_verification__box--payment_method 
      %p.title 支払い方法
      %p クレジットカード 
    .biuy_verification__box--shipping_address 
      %p.title 配達先
      %p.detail なんばスカイオ
    .form
      = link_to "#" do
        %input.submit{:type => "submit", :value => "購入する"}