-# 田中三葉
= render "header"
.contents
  .sidebar
  .like-box
    .like-box__list
      いいね!一覧
    .like-box__item
      =link_to image_tag"https://cdn.pixabay.com/photo/2012/04/13/17/00/lcd-32872__480.png",class:"item_image"
      .like-box__item__name
        パソコン
      .like-box__item__price
        ¥30000
      .like-box__item__btn
        ＞
= render "footer"