.listing-contents
  .listing
    .listing__box
      =form_with model: [@item] do |f|
        .listing__box--title
          %p 出品画像
          %p.equired 必須
        %p.listing-attention 最大10枚まで
        %label.exhibit-image-box
          =f.file_field :images, class: "secret-image"
          .exhibit-image 写真を選択してください
        .listing__box--title
          %p 商品名
          %p.equired 必須
        =f.text_field :name, class: "listing-form", placeholder: "40字まで"
        .listing__box--title
          %p 商品説明
          %p.equired 必須
        =f.text_area :introduction, class: "item-text", placeholder: "商品の説明（1000字まで）"
        %p 商品の詳細
        .listing__box--title
          %p カテゴリー
          %p.equired 必須
        = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {prompt: "---"}, class: 'listing-select-wrapper__box--select', id: 'parent_category'
        .listing-child
        .listing-grandchild
        .listing-size
        .listing__box--title
          %p ブランド
          %p.arbitrary 任意
        =f.text_field :brand, class: "listing-form", placeholder: "例）アディダス"
        .listing__box--title
          %p 商品の状態
          %p.equired 必須
        =f.select :status, ['新品', '未使用', '未使用に近い', '目立った傷や汚れなし', 'やや傷や汚れあり', '傷や汚れあり', '全体的に状態が悪い'], include_blank: '選択してください', class: "listing-select"
        .listing__box--title
          %p 配送料の負担
          %p.equired 必須
        =f.select :prefecture,  ['送料込み（出品者負担）', '着払い（購入者負担）'],include_blank: '選択してください', class: "listing-select"
        .listing__box--title
          %p 発送元の地域
          %p.equired 必須
        .listing__box--title
          %p 発送までの日数
          %p.equired 必須
        =f.select :prefecture, ['1〜2日', '2〜3日', '4〜7日'], include_blank: '選択してください', class: "listing-select"
        .listing__box--fee
          .listing__box--title
            %p 販売価格
            %p.equired 必須
          .listing__box--price
            =f.number_field :name, class: "listing-price", placeholder: "0"
            %p 円
        .listing__box--fee
          %p 販売手数料 (10%)
          %p 合計（仮）
        .listing__box--fee
          %p 販売利益
          %p 合計（仮）
        .listing__box--btns
          =f.submit class: "btn", value: "出品する"
          =link_to "戻る","#", class: "btn-back", type: "submit"