.detail-contents
  .detail-product
    .detail-product__name
      =@item.name
    .detail-product__image
    %ul.slider.slick
      -@item.item_images.each do |image|
        %li 
          =image_tag image.url,class:"detail-product__image__main"
    %ul.thumb.thumbnail
      -@item.item_images.each do |image|
        %li 
          =image_tag image.url,class:"detail-product__image__sub"
    .detail-product__price
      ="¥#{@item.price}"
    .detail-product__sub
      （税込）送料込み
    .detail-product__introduction
      =@item.introduction
    %table.detail-product__table
      %tr
        %th
          出品者
        %td
          =@item.exhibitor.name
      %tr
        %th カテゴリー
        %td
          =link_to "メンズ"
          %br/
          =link_to "アウター"
          %br/
          =link_to "ジャケット"
      %tr
        %th ブランド
        %td
          =@item.brand
      %tr
        %th 商品の状態
        %td
          =@item.status
      %tr
        %th 配送料の負担
        %td 着払い（購入者負担）
      %tr
        %th 発送元の地域
        %td
          =link_to @address.prefecture
      %tr
        %th 発送元の目安
        %td 
          ="#{@item.preparation_day}日で発送"
    .detail-product__btn
      .detail-product__btn__like
        %i.fa.fa-star
        お気に入り
      .detail-product__btn__report
        %i.fa.fa-flag
        不適切な商品の通報
    - if !user_signed_in?
    -elsif current_user.id == @item.exhibitor_id
      .detail-product__link
        .detail-product__link__edit
          =link_to "商品情報を編集する", edit_item_path(@item.id), method: :get
        .detail-product__link__delete
          =link_to "商品を削除する", item_path(@item.id),method: :delete
    - if !user_signed_in? 
      .detail-product__link__buy
        =link_to "商品を購入する", item_buy_path(@item.id)
    -elsif current_user.id != @item.exhibitor_id
      .detail-product__link__buy
        =link_to "商品を購入する", item_buy_path(@item.id)
        
  .detail-comment-box
    %form
      %textarea{cols:40, rows:4}
      .detail-comment-box__alert
        相手のことを考え適切なコメントを心がけましょう。
        %br>/
        不快な言葉遣胃などは利用制限や退会処分となることがあります。
      %button{type:"submit", value:"コメントする"}
        %i.fa.fa-comment
        コメントする
  .detail-links
    -if @item.previous
      .detail-links__before
        =link_to "<前の商品", item_path(@item.previous.id) 
    -if @item.next
      .detail-links__after
        =link_to "後ろの商品>", item_path(@item.next.id)

  .detail-category
    =link_to "〇〇をもっと見る"