a{
  text-decoration: none;
}
body,html{
  background-color: rgba(245,245,245,1);
}
$main-content--width: 700px;
$text-black: rgba(70,70,70,1.0);
$text-black-hover: rgba(120,120,120,1.0);
$mypage-tab-color: rgba(194, 194, 194, 0.995);
$mypage-tab-hover-color: rgb(218, 218, 218);
$sky-blue: rgba(136,201,255,1.0);
$camera-icon-color: rgba(235,235,235,1.0);
$mypage-tab-active:rgba(230,230,230,1.0);

.container{
  padding: 40px 33.5px 0;
  .main-container{
    display: flex;
    margin: 0;
    padding-bottom: 40px;
    .sidebar{
      margin: 0;
      &__mypage__nav{
      }
    }
    .main-content{
      display: block;
      width: $main-content--width;
      margin: 0 60px;
      text-decoration: none;
      &__user{
        text-align: center;
        width: inherit;
        padding: 40px 0;
        background: image-url("user_image1.jpg");
        .user-image{
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        &__name{
          color:$text-black;
        }
        &__number{
          color:$text-black;
          display: flex;
          justify-content: center;
          &__evaluation{
            span{font-weight: bold;}
            }
          &__up{
            margin-left: 10px;
            span{font-weight: bold;}
          }
          }
        }
      &__mypage-tab__container{
        .mypage-tab{
          display:flex;
          justify-content: space-evenly;
          &__list{
            pointer-events: auto;
            width: 350px;
            height: 74px;
            line-height: 74px;
            font-size: 18px;
            text-align: center;
            color: $text-black;
            display: block;
            background-color: $mypage-tab-color;
            &:hover{
              color: $text-black-hover;
              background-color: $mypage-tab-hover-color;
            }
          }
          #mypage-tab__list-new{

          }
          #mypage-tab__list-old{
            border-left: 1px solid rgb(120, 120, 120);
          }
          &__head{
            line-height: 74px;
            padding: 0 16px;
            font-size: 16px;
            height: 74px;
            color: $text-black;
            font-weight: bold;
            }
          }
        }
      }
    }
  }


  .footer__sell-btn{
    line-height: 160px;
    text-align: center;
    color: rgba(230,230,230,1);
    font-size: 26px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: $sky-blue;
    position: fixed;
    bottom: 64px;
    right: 64px;
    &-icon{
      text-decoration: none;
      color: $camera-icon-color;
      position: relative;
      display: block;
    }
      &__camera{
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 60px;
        }
    }

//以下サイドナビリスト
.nav-list{
  width: 280px;
  border:2px solid rgba(245,245,245,1.0);
  &__head{
    width: inherit;
    margin: 40px 0 0;
    display: block;
    font-weight: bold;
  }
  &__item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: auto;
    border-bottom: 1px solid rgba(245,245,245,1);
    width: inherit;
    text-decoration: none;
    position: relative;
    min-height: 36px;
    padding: 16px;
    background: #fff;
    font-size: 14px;
    color: #333;
    text-align: left;
    &:hover > .nav-icon{
      transform: translateX(7px);
      transition-timing-function: ease-in;
      transition-duration: 200ms;
      color: $text-black;
    }
    &:hover{
      background-color: $mypage-tab-hover-color;
      transition: background-color 300ms;
      }
    }
  }
.nav-icon{
  color: rgb(140, 140, 140);
  font-size: 16px;
}

//商品・お知らせなどのリストスタイル
.display{
  display:none;
}

.tab-active{
  border-top: 2px solid $sky-blue;
  width: calc($main-content--width/2);
  height: 74px;
  background-color: $mypage-tab-active;
  //JSの処理に応じて追記
}

.tab__content__list{
  width: 700px;
  height: 80px;
  background-color: rgb(250, 250, 250);
  color: $text-black;
  border-bottom: 1px solid rgb(160,160,160);
  &-box{
    text-decoration: none;
    color: $text-black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .list-image{
      width: 48px;
      height: 48px;
      padding: 5px;
    }
    .list-text{
      padding: 5px;
      font-size: 12px;
    }
    .nav-icon{
      margin-right: 10px;
      padding:2px
    }
          &:hover > .nav-icon{
        transform: translateX(7px);
        transition-timing-function: ease-in;
        transition-duration: 200ms;
        color: $text-black;
      }
  }
  &-btn{
    box-sizing: border-box;
    padding: 16px;
    display: block;
    color: $text-black;
    font-size: bold;
    text-align: center;
    line-height: calc(80px - 16px * 2);
    width: 100%;
    height: 100%;
    background-color: rgb(220, 220, 220);
    &:hover{
      color: $text-black-hover;
      background-color: $mypage-tab-hover-color;
    }
  }
}
.tab__content__list-box{
  padding: 8px;
  
}


// --------ここから発送元・お届け先住所変更--------

.register-address{
  height: 130vh;
  width: 100vw; 
  &__header{
    height: 60px;
    vertical-align: middle;
    text-align: center;
    border-bottom: solid 1px;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 60px;
  }
  &__contents{
    &__name{
      width: 50%;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 12%;
      &__require{
        display: flex;
        margin-bottom: 5px;
        .title{
          font-weight: 600;
        }
        .require{
          margin-left: 10px;
          background-color:  rgb(226, 15, 15);
          border-radius: 4px;
          font-size: smaller;
          padding: 2px 4px 2px 4px;
          color: white;
        }
        .optional{
          margin-left: 10px;
          background-color: gray;
          border-radius: 4px;
          font-size: smaller;
          padding: 2px 4px 2px 4px;
          color: white;
        }
      }
      &__form{
        .input-text{
          width: 300px;
        }
      }
    }
    .submit{
      height: 50px;
      width: 30vw;
      background-color: rgb(226, 15, 15);
      color: white;
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      border-radius: 0%;
      margin-left: 31%;
      margin-top: 20px;
    }
  }
  select{
    width: 30vw;
    height: 50px;
  }

  .input-text{
    height: 50px;
    width: 30vw;
    border: solid 1px rgb(194, 186, 186);
    border-radius: 3px;
    margin-bottom: 7px;
  }
  ::placeholder{
    padding-left: 20px;
  }
}
// .register-address,&__header,&__contentsのheight,widthの数値は見た目用




