html,body{
  background-color: rgba(245,245,245,1);
}
a{
  text-decoration: none;
}
$main-content--width: 700px;
$text-black: rgba(70,70,70,1.0);
.container{
  padding: 40px 33.5px 0;
  .main-container{
    display: flex;
    margin: 0;
    padding-bottom: 40px;
    .sidebar{
      margin: 0;
      &__mypage__nav{
      }
    }
    .main-content{
      display: block;
      width: $main-content--width;
      margin: 0 60px;
      text-decoration: none;
      &__user{
        text-align: center;
        width: inherit;
        padding: 40px 0;
        background: url("user_image5.jpg");
        .user-image{
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        &__name{
          color:$text-black;
        }
        &__number{
          color:$text-black;
          display: flex;
          justify-content: center;
          &__evaluation{
            span{font-weight: bold;}
            }
          &__up{
            margin-left: 10px;
            span{font-weight: bold;}
          }
          }
        }
      &__notification-todo{
          background-color: rgba(90,90,90,1.0);
        }
      &__mypage-tab__container{
        .mypage-tab{
          height: 74px;
          display:flex;
          justify-content: space-evenly;
          background-color: rgba(120,120,120,1.0);
          &__list{
            width: calc($main-content--width/2);
            display: block;
            &__transaction{
              &__now{
                display: block;
                width: inherit;
              }
              &__old{
                display: block;
              }
              }
            }
          &__head{
            line-height: 74px;
            padding: 0 16px;
            width: calc($main-content--width/2);
            height: 74px;
            }
          }
        }
      }
    }

      .footer__sell-btn-icon{
    line-height: 160px;
    text-align: center;
    text-decoration: none;
    color: rgba(230,230,230,1);
    font-size: 26px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: rgba(136, 209, 255,1);
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 64px;
    right: 64px;
    &__camera{
      display:inline;
      color: rgba(200,200,200,1);
      font-size: 60px;
      }
    }
}

.nav-list{
  width: 280px;
  &__head{
    width: inherit;
    margin: 40px 0 0;
    display: block;
    font-weight: bold;
  }
  &__item{
    position: relative;
    pointer-events: auto;
    border-bottom: 2px solid rgba(245,245,245,1);
    width: inherit;
    height: 32px;
    line-height: 32px;
    text-decoration: none;
    position: relative;
    display: block;
    min-height: 32px;
    padding: 16px;
    background: #fff;
    font-size: 14px;
    color: #333;
    text-align: left;
    &:hover > .nav-icon{
      transform: translateX(7px);
      transition-timing-function: ease-in;
      transition-duration: 200ms;
      color: $text-black;
    }
    &:hover{
      background-color: rgb(220, 220, 220);
      transition: background-color 300ms;
    }
    }
  }
.nav-icon{
  position: absolute;
  bottom: 24px;
  right: 20px;
  line-height: 32px;
  color: rgb(140, 140, 140);
  font-size: 15px;
}

// --------ここから発送元・お届け先住所変更--------

.register-address{
  height: 130vh;
  width: 100vw; 
  &__header{
    height: 60px;
    vertical-align: middle;
    text-align: center;
    border-bottom: solid 1px;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 60px;
  }
  &__contents{
    &__name{
      width: 50%;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 12%;
      &__require{
        display: flex;
        margin-bottom: 5px;
        .title{
          font-weight: 600;
        }
        .require{
          margin-left: 10px;
          background-color:  rgb(226, 15, 15);
          border-radius: 4px;
          font-size: smaller;
          padding: 2px 4px 2px 4px;
          color: white;
        }
        .optional{
          margin-left: 10px;
          background-color: gray;
          border-radius: 4px;
          font-size: smaller;
          padding: 2px 4px 2px 4px;
          color: white;
        }
      }
      &__form{
        .input-text{
          width: 300px;
        }
      }
    }
    .submit{
      height: 50px;
      width: 30vw;
      background-color: rgb(226, 15, 15);
      color: white;
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      border-radius: 0%;
      margin-left: 31%;
      margin-top: 20px;
    }
  }
  select{
    width: 30vw;
    height: 50px;
  }

  .input-text{
    height: 50px;
    width: 30vw;
    border: solid 1px rgb(194, 186, 186);
    border-radius: 3px;
    margin-bottom: 7px;
  }
  ::placeholder{
    padding-left: 20px;
  }
}
// .register-address,&__header,&__contentsのheight,widthの数値は見た目用




