html,body{
  background-color: rgba(245,245,245,1);
}
.container{
  padding: 40px 33.5px 0;
  .main-container{
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 0;
    padding-bottom: 40px;
    .sidebar{
      margin: 0;
      width: 280px;
      &__mypage__nav{
        &-list{
          width: 280px;
          &__head{
            width: inherit;
            margin: 40px 0 0;
            display: block;
            font-weight: bold;
          }
          &__item{
            border-bottom: 2px solid rgba(245,245,245,1);
            width: inherit;
            height: 48px;
            line-height: 48px;
            text-decoration: none;
            position: relative;
            display: block;
            min-height: 48px;
            padding: 16px;
            background: #fff;
            font-size: 14px;
            color: #333;
            display: flex;
          }
          .nav-icon{
            color: black;
            font-size: 15px;
          }
        }
      }
    }
    .main-content{
      display: block;
      width: 700px;
      &__user-icon{
        width: inherit;
        height: 200px;
        background-color: rgba(100,100,100,1.0);
      &__notification-todo{
        background-color: rgba(90,90,90,1.0);
        }
      &__mypage-tab{
        width: inherit;
        background-color: rgba(120,120,120,1.0);
        }
      }
    }
  }

      .sell-btn{
    line-height: 160px;
    text-align: center;
    text-decoration: none;
    color: rgba(230,230,230,1);
    font-size: 26px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: rgba(136, 209, 255,1);
    display: block;
    position: fixed;
    bottom: 64px;
    right: 64px;
    &__camera{
      color: rgba(230,230,230,1);
      font-size: 50px;
    }
  }
}